<div class="container mt-5">
  <h2>Add Group</h2>
    <form style="margin-top: 1rem;" (ngSubmit)="onSubmit()" [formGroup]="groupForm" >
      <div class="form-group row">
        <label for="groupName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="groupName"
            formControlName="name"
            placeholder="Name"
            required
          />
          <div
          class="alert-danger"
          *ngIf="groupForm.get('name').errors && (groupForm.get('name').dirty || groupForm.get('name').touched)"
        >
          <span *ngIf="groupForm.get('name').errors.required">Group Name is required</span>
        </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="datetime" class="col-sm-2 col-form-label"
          >Date</label
        >
        <div class="col-sm-10">
          <input
            type="date"
            formControlName="date"
            class="form-control"
            id="datetime"
            placeholder="Date"
            required
          />
          <div
          class="alert-danger"
          *ngIf="groupForm.get('date').errors && (groupForm.get('date').dirty || groupForm.get('date').touched)"
        >
          <span *ngIf="groupForm.get('date').errors.required">Date is required</span>
        </div>
        </div>
      </div>

      <div form-group>
        <label class="col-form-label">Group Members</label>
      <div formArrayName="users" *ngFor="let g of users.controls; let i=index">
        <div [formGroupName]="i" class="row">
          <input type="text" class="form-control col-sm-2" placeholder="Name" formControlName="name" id="nameId" style="margin-right:10px" />
          <input type="text" class="form-control col-sm-2" id="emailId" placeholder="Email" formControlName="email" />
          <a (click)="addGroupMember()" class="btn btn-outline-primary ml-1">+</a>
          <a *ngIf="users.controls.length > 1" (click)="removeGroupMember(i)" class="btn btn-outline-danger ml-1">-</a>
        </div>
        <br />
      </div>
    </div>

      <div class="form-group row" style="margin-top: 2rem;">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary" [disabled]="!groupForm.valid">Create</button>
          <a type="submit" [routerLink]="['/dashboard/splitwise']"
           class="btn btn-outline-warning ml-2">Cancel</a>
        </div>
      </div>

    </form>
</div>
