<div class="container">
    <div class="card" style="width: 250px;">
      <div class="card-header">
        Details
      </div>
      <div class="card-body">
        <ul>
          <li>Name : SP</li>
          <li>Email : sp@gmail.com</li>
          <li>Balance : 0</li>
        </ul>
      </div>
    </div>
    <div class="card mt-5" style="width: 250px;">
      <div class="card-header">
        Groups
      </div>
      <div class="card-body">
        <ul>
          <li>Friend1</li>
          <li>Friend2</li>
        </ul>
      </div>
    </div>
    <div class="card" style="width: 250px;height: 400px;margin-left: 300px;position: absolute;top: 75px;">
      <div class="card-header">
        You Owe
      </div>
      <div class="card-body">
        <ul>
          <li>Friend1</li>
          <li>Friend2</li>
        </ul>
      </div>
    </div>
    <div class="card" style="width: 250px;height: 400px;margin-left: 550px;position: absolute;top: 75px;">
      <div class="card-header">
        You Are Owed
      </div>
      <div class="card-body">
        <ul>
          <li>Friend1</li>
          <li>Friend2</li>
        </ul>
      </div>
    </div>
    <div class="card" style="width: 250px;margin-left: 850px;position: absolute;top: 75px;">
      <div class="card-header">
        Transaction
      </div>
      <div class="card-body">
        <ul>
          <li>Friend1</li>
          <li>Friend2</li>
        </ul>
      </div>
    </div>
    <div class="card" style="width: 250px;margin-left: 850px;position: absolute;top:275px">
      <div class="card-header">
        Groups
      </div>
      <div class="card-body">
        <ul>
          <li>Friend1</li>
          <li>Friend2</li>
        </ul>
      </div>
    </div>
</div>
