<div class="container">
  <a [routerLink]="['/dashboard/settleUp']" class="btn btn-outline-secondary mr-3" style="border-radius: 50rem;float: right;">Settle Up</a>
  <a [routerLink]="['/dashboard/addExpense']" class="btn btn-outline-secondary mr-2" style="border-radius: 50rem;float: right;">Add Expense</a>
    <div class="w3-card-4 col-md-3" style="width: 250px;height: 200px; position: absolute;top: 130px;">
      <div class="w3-container d-flex justify-content-center mb-2 mt-3">
        <h4>Details</h4>
      </div>
      <div class="w3-container">
        <ul class="w3-ul">
          <li>Name : {{userModel?.user.firstName}}</li>
          <li>Email : {{userModel?.user.email}}</li>
          <li>Balance : {{userModel?.user.balance}}</li>
        </ul>
      </div>
    </div>

    <div class="w3-card-4 mt-5 col-md-3" style="width: 250px;height: 200px;position: absolute;top:330px">
      <div class="w3-container row d-flex justify-content-center mb-2 mt-3">
        <h4>Friend</h4>
        <a [routerLink]="['/dashboard/addFriend']" class="ml-5 btn btn-outline-secondary btn-circle btn-circle-sm m-1">+</a>
      </div>
      <div class="w3-container" style="overflow-y: scroll;margin-top: 10px;">
        <ul class="w3-ul" *ngFor="let friend of friend">
          <li><a [routerLink]="['/dashboard/friend',friend.user2.id]">{{friend.user2['firstName']}}</a></li>
        </ul>
      </div>
    </div>

    <div class="w3-card-4 col-md-3" style="width: 250px;height: 450px;margin-left: 280px;position: absolute;top: 130px;">
      <div class="w3-container d-flex justify-content-center mb-2 mt-3">
        <h4>You Are Owed</h4>
      </div>
      <div class="w3-container">
        <ul class="w3-ul" *ngFor="let youOwe of userModel?.owesfrom">
          <li *ngIf="youOwe.amount != 0">{{youOwe.payer.firstName}} Owes You {{youOwe.amount | currency:'INR'}}</li>
        </ul>
      </div>
    </div>
    <div class="w3-card-4 col-md-3" style="width: 250px;height: 450px;margin-left: 570px;position: absolute;top: 130px;">
      <div class="w3-container d-flex justify-content-center mb-2 mt-3">
        <h4>You Owe</h4>
      </div>
      <div class="w3-container">
        <ul class="w3-ul" *ngFor="let youOwe of userModel?.owsto">
          <li *ngIf="youOwe.amount != 0">You Owe {{youOwe.amount | currency:'INR'}} to {{youOwe.payer.firstName}}</li>
        </ul>
      </div>
    </div>
    <div class="w3-card-4 col-md-3" style="width: 250px;height: 200px;margin-left: 850px;position: absolute;top: 130px;">
      <div class="w3-container d-flex justify-content-center mb-2 mt-3">
        <h4>Transaction</h4>
      </div>
      <div class="w3-container">
        <ul class="w3-ul">
          <li>Friend1</li>
          <li>Friend2</li>
        </ul>
      </div>
    </div>

    <div class="w3-card-4 mt-5 col-md-3" style="width: 250px;height: 200px;;margin-left: 850px;position: absolute;top:330px">
      <div class="w3-container row d-flex justify-content-center mb-2 mt-3">
        <h4>Groups</h4>
        <a [routerLink]="['/dashboard/addGroup']" class="ml-5 btn btn-outline-secondary btn-circle btn-circle-sm m-1" style="margin-top: 10px;">+</a>
      </div>
      <div class="w3-container" style="overflow-y: scroll;margin-top: 10px;">
        <ul class="w3-ul" *ngFor="let group of userModel?.groups">
          <li>{{group.name}}</li>
        </ul>
      </div>
    </div>
</div>
