<div class="container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Group Name</h4>
      <p class="card-text">Some example text. Some example text.</p>
      <a href="#" class="btn btn-outline-primary mr-2"><i class="far fa-edit"></i></a>
      <a href="#" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></a>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-body">
      <h4 class="card-title">Group Name</h4>
      <p class="card-text">Some example text. Some example text.</p>
      <a href="#" class="btn btn-outline-primary mr-2"><i class="far fa-edit"></i></a>
      <a href="#" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></a>
    </div>
  </div>
</div>
